In [5]:
import pandas as pd
import numpy as np 
import seaborn as sns
import sklearn 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
import os
# Import model
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score,f1_score, precision_score, recall_score,roc_auc_score,roc_curve

In [6]:
os.chdir("C:/Users/Lenovo/Desktop/python project/project 2")

In [8]:
#Reading Application train csv
data_df = pd.read_csv("app_train_df_subset_25000.csv")
print(data_df.shape)
print(data_df.head(20))

(25000, 122)
    SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0       100002       1         Cash loans           M            N
1       100003       0         Cash loans           F            N
2       100004       0    Revolving loans           M            Y
3       100006       0         Cash loans           F            N
4       100007       0         Cash loans           M            N
5       100008       0         Cash loans           M            N
6       100009       0         Cash loans           F            Y
7       100010       0         Cash loans           M            Y
8       100011       0         Cash loans           F            N
9       100012       0    Revolving loans           M            N
10      100014       0         Cash loans           F            N
11      100015       0         Cash loans           F            N
12      100016       0         Cash loans           F            N
13      100017       0         Cash loans           M            Y
14      100018       0         Cash loans           F            N
15      100019       0         Cash loans           M            Y
16      100020       0         Cash loans           M            N
17      100021       0    Revolving loans           F            N
18      100022       0    Revolving loans           F            N
19      100023       0         Cash loans           F            N

   FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0                Y             0        202500.000    406597.5      24700.5
1                N             0        270000.000   1293502.5      35698.5
2                Y             0         67500.000    135000.0       6750.0
3                Y             0        135000.000    312682.5      29686.5
4                Y             0        121500.000    513000.0      21865.5
5                Y             0         99000.000    490495.5      27517.5
6                Y             1        171000.000   1560726.0      41301.0
7                Y             0        360000.000   1530000.0      42075.0
8                Y             0        112500.000   1019610.0      33826.5
9                Y             0        135000.000    405000.0      20250.0
10               Y             1        112500.000    652500.0      21177.0
11               Y             0         38419.155    148365.0      10678.5
12               Y             0         67500.000     80865.0       5881.5
13               N             1        225000.000    918468.0      28966.5
14               Y             0        189000.000    773680.5      32778.0
15               Y             0        157500.000    299772.0      20160.0
16               N             0        108000.000    509602.5      26149.5
17               Y             1         81000.000    270000.0      13500.0
18               Y             0        112500.000    157500.0       7875.0
19               Y             1         90000.000    544491.0      17563.5

               ...              FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
0              ...                             0                0
1              ...                             0                0
2              ...                             0                0
3              ...                             0                0
4              ...                             0                0
5              ...                             0                0
6              ...                             0                0
7              ...                             0                0
8              ...                             0                0
9              ...                             0                0
10             ...                             0                0
11             ...                             0                0
12             ...                             0                0
13             ...                             0                0
14             ...                             0                0
15             ...                             0                0
16             ...                             0                0
17             ...                             0                0
18             ...                             0                0
19             ...                             0                0

   FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0                 0                0                        0.0
1                 0                0                        0.0
2                 0                0                        0.0
3                 0                0                        NaN
4                 0                0                        0.0
5                 0                0                        0.0
6                 0                0                        0.0
7                 0                0                        0.0
8                 0                0                        0.0
9                 0                0                        NaN
10                0                0                        0.0
11                0                0                        0.0
12                0                0                        0.0
13                0                0                        0.0
14                0                0                        NaN
15                0                0                        0.0
16                0                0                        0.0
17                0                0                        NaN
18                0                0                        0.0
19                0                0                        0.0

   AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                        0.0                         0.0
1                        0.0                         0.0
2                        0.0                         0.0
3                        NaN                         NaN
4                        0.0                         0.0
5                        0.0                         0.0
6                        0.0                         0.0
7                        0.0                         0.0
8                        0.0                         0.0
9                        NaN                         NaN
10                       0.0                         0.0
11                       0.0                         0.0
12                       0.0                         0.0
13                       0.0                         0.0
14                       NaN                         NaN
15                       0.0                         0.0
16                       0.0                         0.0
17                       NaN                         NaN
18                       0.0                         0.0
19                       0.0                         0.0

    AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         NaN                        NaN
4                         0.0                        0.0
5                         0.0                        1.0
6                         1.0                        1.0
7                         0.0                        0.0
8                         0.0                        0.0
9                         NaN                        NaN
10                        1.0                        0.0
11                        0.0                        0.0
12                        1.0                        0.0
13                        0.0                        0.0
14                        NaN                        NaN
15                        0.0                        0.0
16                        0.0                        1.0
17                        NaN                        NaN
18                        0.0                        0.0
19                        0.0                        0.0

    AMT_REQ_CREDIT_BUREAU_YEAR
0                          1.0
1                          0.0
2                          0.0
3                          NaN
4                          0.0
5                          1.0
6                          2.0
7                          0.0
8                          1.0
9                          NaN
10                         0.0
11                         2.0
12                         0.0
13                         1.0
14                         NaN
15                         1.0
16                         0.0
17                         NaN
18                         0.0
19                         2.0

[20 rows x 122 columns]

In [9]:
#Rename column
data_df = data_df.rename(columns={'TARGET': 'default'})
print(data_df.head())

   SK_ID_CURR  default NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0      100002        1         Cash loans           M            N
1      100003        0         Cash loans           F            N
2      100004        0    Revolving loans           M            Y
3      100006        0         Cash loans           F            N
4      100007        0         Cash loans           M            N

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0               Y             0          202500.0    406597.5      24700.5
1               N             0          270000.0   1293502.5      35698.5
2               Y             0           67500.0    135000.0       6750.0
3               Y             0          135000.0    312682.5      29686.5
4               Y             0          121500.0    513000.0      21865.5

              ...              FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
0             ...                             0                0
1             ...                             0                0
2             ...                             0                0
3             ...                             0                0
4             ...                             0                0

  FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0                0                0                        0.0
1                0                0                        0.0
2                0                0                        0.0
3                0                0                        NaN
4                0                0                        0.0

  AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                       0.0                         0.0
1                       0.0                         0.0
2                       0.0                         0.0
3                       NaN                         NaN
4                       0.0                         0.0

   AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0
3                        NaN                        NaN
4                        0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_YEAR
0                         1.0
1                         0.0
2                         0.0
3                         NaN
4                         0.0

[5 rows x 122 columns]

In [10]:
#We can see clearly its a class imbalance problem.
#Now analyze missing value
mis_val = data_df.isnull().sum()
print(mis_val)
#writing the outcome to csv to analyze further
mis_val.to_csv('case2_missing.csv')

SK_ID_CURR                        0
default                           0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
FLAG_OWN_REALTY                   0
CNT_CHILDREN                      0
AMT_INCOME_TOTAL                  0
AMT_CREDIT                        0
AMT_ANNUITY                       0
AMT_GOODS_PRICE                  18
NAME_TYPE_SUITE                 103
NAME_INCOME_TYPE                  0
NAME_EDUCATION_TYPE               0
NAME_FAMILY_STATUS                0
NAME_HOUSING_TYPE                 0
REGION_POPULATION_RELATIVE        0
DAYS_BIRTH                        0
DAYS_EMPLOYED                     0
DAYS_REGISTRATION                 0
DAYS_ID_PUBLISH                   0
OWN_CAR_AGE                   16528
FLAG_MOBIL                        0
FLAG_EMP_PHONE                    0
FLAG_WORK_PHONE                   0
FLAG_CONT_MOBILE                  0
FLAG_PHONE                        0
FLAG_EMAIL                        0
OCCUPATION_TYPE                7816
CNT_FAM_MEMBERS                   0
                              ...
DEF_30_CNT_SOCIAL_CIRCLE         88
OBS_60_CNT_SOCIAL_CIRCLE         88
DEF_60_CNT_SOCIAL_CIRCLE         88
DAYS_LAST_PHONE_CHANGE            1
FLAG_DOCUMENT_2                   0
FLAG_DOCUMENT_3                   0
FLAG_DOCUMENT_4                   0
FLAG_DOCUMENT_5                   0
FLAG_DOCUMENT_6                   0
FLAG_DOCUMENT_7                   0
FLAG_DOCUMENT_8                   0
FLAG_DOCUMENT_9                   0
FLAG_DOCUMENT_10                  0
FLAG_DOCUMENT_11                  0
FLAG_DOCUMENT_12                  0
FLAG_DOCUMENT_13                  0
FLAG_DOCUMENT_14                  0
FLAG_DOCUMENT_15                  0
FLAG_DOCUMENT_16                  0
FLAG_DOCUMENT_17                  0
FLAG_DOCUMENT_18                  0
FLAG_DOCUMENT_19                  0
FLAG_DOCUMENT_20                  0
FLAG_DOCUMENT_21                  0
AMT_REQ_CREDIT_BUREAU_HOUR     3344
AMT_REQ_CREDIT_BUREAU_DAY      3344
AMT_REQ_CREDIT_BUREAU_WEEK     3344
AMT_REQ_CREDIT_BUREAU_MON      3344
AMT_REQ_CREDIT_BUREAU_QRT      3344
AMT_REQ_CREDIT_BUREAU_YEAR     3344
Length: 122, dtype: int64

In [11]:
# Number of each type of column
print(data_df.dtypes.value_counts())

float64    63
int64      43
object     16
dtype: int64

In [12]:
print(data_df.select_dtypes('object').columns)
print(data_df.select_dtypes('int64').columns)
print(data_df.select_dtypes('float64').columns)

Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
       'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'],
      dtype='object')
Index(['SK_ID_CURR', 'default', 'CNT_CHILDREN', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_MOBIL', 'FLAG_EMP_PHONE',
       'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL',
       'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLAG_DOCUMENT_2',
       'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
       'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11',
       'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14',
       'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21'],
      dtype='object')
Index(['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'REGION_POPULATION_RELATIVE', 'OWN_CAR_AGE', 'EXT_SOURCE_1',
       'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG',
       'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG',
       'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG',
       'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG',
       'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE',
       'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE',
       'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE',
       'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE',
       'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE',
       'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI',
       'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI',
       'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI',
       'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI',
       'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

In [14]:
#Categorical imputer
imp=SimpleImputer(missing_values="NaN", strategy="most_frequent" )
#cat_col_names=app_train_df.select_dtypes('object').columns
cat_col_names=['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
       'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']
for name in cat_col_names:
    print(name)
    data_df[name]=imp.fit_transform(data_df[[name]].astype(str)).ravel()

NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
OCCUPATION_TYPE
WEEKDAY_APPR_PROCESS_START
ORGANIZATION_TYPE
FONDKAPREMONT_MODE
HOUSETYPE_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE

In [15]:
#Now analyze missing value
mis_val = data_df.isnull().sum()
print(mis_val)
#writing the outcome to csv to analyze further
mis_val.to_csv('case2_missing_after_cat_impute.csv')

SK_ID_CURR                        0
default                           0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
FLAG_OWN_REALTY                   0
CNT_CHILDREN                      0
AMT_INCOME_TOTAL                  0
AMT_CREDIT                        0
AMT_ANNUITY                       0
AMT_GOODS_PRICE                  18
NAME_TYPE_SUITE                   0
NAME_INCOME_TYPE                  0
NAME_EDUCATION_TYPE               0
NAME_FAMILY_STATUS                0
NAME_HOUSING_TYPE                 0
REGION_POPULATION_RELATIVE        0
DAYS_BIRTH                        0
DAYS_EMPLOYED                     0
DAYS_REGISTRATION                 0
DAYS_ID_PUBLISH                   0
OWN_CAR_AGE                   16528
FLAG_MOBIL                        0
FLAG_EMP_PHONE                    0
FLAG_WORK_PHONE                   0
FLAG_CONT_MOBILE                  0
FLAG_PHONE                        0
FLAG_EMAIL                        0
OCCUPATION_TYPE                   0
CNT_FAM_MEMBERS                   0
                              ...
DEF_30_CNT_SOCIAL_CIRCLE         88
OBS_60_CNT_SOCIAL_CIRCLE         88
DEF_60_CNT_SOCIAL_CIRCLE         88
DAYS_LAST_PHONE_CHANGE            1
FLAG_DOCUMENT_2                   0
FLAG_DOCUMENT_3                   0
FLAG_DOCUMENT_4                   0
FLAG_DOCUMENT_5                   0
FLAG_DOCUMENT_6                   0
FLAG_DOCUMENT_7                   0
FLAG_DOCUMENT_8                   0
FLAG_DOCUMENT_9                   0
FLAG_DOCUMENT_10                  0
FLAG_DOCUMENT_11                  0
FLAG_DOCUMENT_12                  0
FLAG_DOCUMENT_13                  0
FLAG_DOCUMENT_14                  0
FLAG_DOCUMENT_15                  0
FLAG_DOCUMENT_16                  0
FLAG_DOCUMENT_17                  0
FLAG_DOCUMENT_18                  0
FLAG_DOCUMENT_19                  0
FLAG_DOCUMENT_20                  0
FLAG_DOCUMENT_21                  0
AMT_REQ_CREDIT_BUREAU_HOUR     3344
AMT_REQ_CREDIT_BUREAU_DAY      3344
AMT_REQ_CREDIT_BUREAU_WEEK     3344
AMT_REQ_CREDIT_BUREAU_MON      3344
AMT_REQ_CREDIT_BUREAU_QRT      3344
AMT_REQ_CREDIT_BUREAU_YEAR     3344
Length: 122, dtype: int64

In [22]:
#Neumerical imputer
neum_cols=['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'REGION_POPULATION_RELATIVE', 'OWN_CAR_AGE', 'EXT_SOURCE_1',
       'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG',
       'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG',
       'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG',
       'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG',
       'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE',
       'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE',
       'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE',
       'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE',
       'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE',
       'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI',
       'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI',
       'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI',
       'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI',
       'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']
neum_imp = SimpleImputer(missing_values=np.NaN, strategy='mean')
for name in neum_cols:
    print(name)
    data_df[name]=neum_imp.fit_transform(data_df[[name]]).ravel()

AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
REGION_POPULATION_RELATIVE
OWN_CAR_AGE
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
TOTALAREA_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

In [23]:
#Neumerical imputer
neum_cols=['SK_ID_CURR', 'default', 'CNT_CHILDREN', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_MOBIL', 'FLAG_EMP_PHONE',
       'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL',
       'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLAG_DOCUMENT_2',
       'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
       'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11',
       'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14',
       'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21']
neum_imp = SimpleImputer(missing_values=np.NaN, strategy='mean')
for name in neum_cols:
    print(name)
    data_df[name]=neum_imp.fit_transform(data_df[[name]]).ravel()

SK_ID_CURR
default
CNT_CHILDREN
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21

In [24]:
#Now analyze missing value
mis_val = data_df.isnull().sum()
print(mis_val)
#writing the outcome to csv to analyze further
mis_val.to_csv('case2_missing_after_neum_impute.csv')

SK_ID_CURR                    0
default                       0
NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
FLAG_OWN_REALTY               0
CNT_CHILDREN                  0
AMT_INCOME_TOTAL              0
AMT_CREDIT                    0
AMT_ANNUITY                   0
AMT_GOODS_PRICE               0
NAME_TYPE_SUITE               0
NAME_INCOME_TYPE              0
NAME_EDUCATION_TYPE           0
NAME_FAMILY_STATUS            0
NAME_HOUSING_TYPE             0
REGION_POPULATION_RELATIVE    0
DAYS_BIRTH                    0
DAYS_EMPLOYED                 0
DAYS_REGISTRATION             0
DAYS_ID_PUBLISH               0
OWN_CAR_AGE                   0
FLAG_MOBIL                    0
FLAG_EMP_PHONE                0
FLAG_WORK_PHONE               0
FLAG_CONT_MOBILE              0
FLAG_PHONE                    0
FLAG_EMAIL                    0
OCCUPATION_TYPE               0
CNT_FAM_MEMBERS               0
                             ..
DEF_30_CNT_SOCIAL_CIRCLE      0
OBS_60_CNT_SOCIAL_CIRCLE      0
DEF_60_CNT_SOCIAL_CIRCLE      0
DAYS_LAST_PHONE_CHANGE        0
FLAG_DOCUMENT_2               0
FLAG_DOCUMENT_3               0
FLAG_DOCUMENT_4               0
FLAG_DOCUMENT_5               0
FLAG_DOCUMENT_6               0
FLAG_DOCUMENT_7               0
FLAG_DOCUMENT_8               0
FLAG_DOCUMENT_9               0
FLAG_DOCUMENT_10              0
FLAG_DOCUMENT_11              0
FLAG_DOCUMENT_12              0
FLAG_DOCUMENT_13              0
FLAG_DOCUMENT_14              0
FLAG_DOCUMENT_15              0
FLAG_DOCUMENT_16              0
FLAG_DOCUMENT_17              0
FLAG_DOCUMENT_18              0
FLAG_DOCUMENT_19              0
FLAG_DOCUMENT_20              0
FLAG_DOCUMENT_21              0
AMT_REQ_CREDIT_BUREAU_HOUR    0
AMT_REQ_CREDIT_BUREAU_DAY     0
AMT_REQ_CREDIT_BUREAU_WEEK    0
AMT_REQ_CREDIT_BUREAU_MON     0
AMT_REQ_CREDIT_BUREAU_QRT     0
AMT_REQ_CREDIT_BUREAU_YEAR    0
Length: 122, dtype: int64

In [25]:
# verifying categories before encoding app_train_df.select_dtypes('object').columns
print(data_df.head())

   SK_ID_CURR  default NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0    100002.0      1.0         Cash loans           M            N
1    100003.0      0.0         Cash loans           F            N
2    100004.0      0.0    Revolving loans           M            Y
3    100006.0      0.0         Cash loans           F            N
4    100007.0      0.0         Cash loans           M            N

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0               Y           0.0          202500.0    406597.5      24700.5
1               N           0.0          270000.0   1293502.5      35698.5
2               Y           0.0           67500.0    135000.0       6750.0
3               Y           0.0          135000.0    312682.5      29686.5
4               Y           0.0          121500.0    513000.0      21865.5

              ...              FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
0             ...                           0.0              0.0
1             ...                           0.0              0.0
2             ...                           0.0              0.0
3             ...                           0.0              0.0
4             ...                           0.0              0.0

  FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0              0.0              0.0                   0.000000
1              0.0              0.0                   0.000000
2              0.0              0.0                   0.000000
3              0.0              0.0                   0.007204
4              0.0              0.0                   0.000000

  AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                  0.000000                    0.000000
1                  0.000000                    0.000000
2                  0.000000                    0.000000
3                  0.007527                    0.033247
4                  0.000000                    0.000000

   AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                   0.000000                   0.000000
1                   0.000000                   0.000000
2                   0.000000                   0.000000
3                   0.270964                   0.263945
4                   0.000000                   0.000000

   AMT_REQ_CREDIT_BUREAU_YEAR
0                    1.000000
1                    0.000000
2                    0.000000
3                    1.891947
4                    0.000000

[5 rows x 122 columns]

In [26]:
#Label encoding
#Encoding category columns
cat_labelencoder = LabelEncoder()
cat_col_names=data_df.select_dtypes('object').columns
for name in cat_col_names:
    print(name)
    data_df[name]=cat_labelencoder.fit_transform(data_df[name])
print(data_df.head())

NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
OCCUPATION_TYPE
WEEKDAY_APPR_PROCESS_START
ORGANIZATION_TYPE
FONDKAPREMONT_MODE
HOUSETYPE_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE
   SK_ID_CURR  default  NAME_CONTRACT_TYPE  CODE_GENDER  FLAG_OWN_CAR  \
0    100002.0      1.0                   0            1             0
1    100003.0      0.0                   0            0             0
2    100004.0      0.0                   1            1             1
3    100006.0      0.0                   0            0             0
4    100007.0      0.0                   0            1             0

   FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0                1           0.0          202500.0    406597.5      24700.5
1                0           0.0          270000.0   1293502.5      35698.5
2                1           0.0           67500.0    135000.0       6750.0
3                1           0.0          135000.0    312682.5      29686.5
4                1           0.0          121500.0    513000.0      21865.5

              ...              FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  \
0             ...                           0.0               0.0
1             ...                           0.0               0.0
2             ...                           0.0               0.0
3             ...                           0.0               0.0
4             ...                           0.0               0.0

   FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  AMT_REQ_CREDIT_BUREAU_HOUR  \
0               0.0               0.0                    0.000000
1               0.0               0.0                    0.000000
2               0.0               0.0                    0.000000
3               0.0               0.0                    0.007204
4               0.0               0.0                    0.000000

   AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                   0.000000                    0.000000
1                   0.000000                    0.000000
2                   0.000000                    0.000000
3                   0.007527                    0.033247
4                   0.000000                    0.000000

   AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                   0.000000                   0.000000
1                   0.000000                   0.000000
2                   0.000000                   0.000000
3                   0.270964                   0.263945
4                   0.000000                   0.000000

   AMT_REQ_CREDIT_BUREAU_YEAR
0                    1.000000
1                    0.000000
2                    0.000000
3                    1.891947
4                    0.000000

[5 rows x 122 columns]

In [28]:
X = pd.DataFrame(data_df.drop(['default','SK_ID_CURR'], axis=1))
y = pd.DataFrame(data_df['default'])
print(X.shape)
print(y.shape)

(25000, 120)
(25000, 1)

In [29]:
#Train Test Split
#Use X and y variables to split the training data into train and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .20, random_state = 42)
print (X_train.shape)
print (y_train.shape)
print (X_test.shape)
print (y_test.shape)

(20000, 120)
(20000, 1)
(5000, 120)
(5000, 1)

In [30]:
# Create instance of model
lreg = LogisticRegression(random_state=42)
# Pass training data into model
lreg.fit(X_train, y_train)
# Predict
y_pred_lreg = lreg.predict(X_test)
# Score It
logreg_accuracy = round(accuracy_score(y_test, y_pred_lreg) * 100,2)
print('Accuracy', logreg_accuracy,'%')
print('roc_auc_score',roc_auc_score(y_test, y_pred_lreg))

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy 91.8 %
roc_auc_score 0.5

In [31]:
# Create instance of model
knn = KNeighborsClassifier(n_neighbors = 5)
# Fit to training data
knn.fit(X_train,y_train)
# Predict
y_pred_knn = knn.predict(X_test)
# Score It
logreg_accuracy = round(accuracy_score(y_test, y_pred_knn) * 100,2)
print('Accuracy', logreg_accuracy,'%')
print('roc_auc_score',roc_auc_score(y_test, y_pred_knn))

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy 91.26 %
roc_auc_score 0.5070540411286466

In [32]:
# Create model object 35--Accuracy 85.68 % roc_auc_score 0.5404810754456927
dtree = DecisionTreeClassifier(max_depth=35,random_state=42)
# Fit to training sets
dtree.fit(X_train,y_train)
# Predict
y_pred_dt = dtree.predict(X_test)
# Score It
logreg_accuracy = round(accuracy_score(y_test, y_pred_dt) * 100,2)
print('Accuracy', logreg_accuracy,'%')
print('roc_auc_score',roc_auc_score(y_test, y_pred_dt))

Accuracy 85.14 %
roc_auc_score 0.5392449120569637

In [33]:
# Create model object 91.9 %,0.5028338420635398, esti-15, max_depth=25
rfc = RandomForestClassifier(n_estimators=15,random_state=42,max_depth=5)
# Fit model to training data
rfc.fit(X_train,y_train)
# Predict
y_pred_rf = rfc.predict(X_test)
# Score It
logreg_accuracy = round(accuracy_score(y_test, y_pred_rf) * 100,2)
print('Accuracy', logreg_accuracy,'%')
print('roc_auc_score',roc_auc_score(y_test, y_pred_rf))

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

Accuracy 91.8 %
roc_auc_score 0.5

In [34]:
from xgboost import XGBClassifier
# Basic XGB classifier 
xgb_classifier = XGBClassifier(n_estimators=100,max_depth=3,learning_rate=0.1,random_state=42)
xgb_classifier.fit(X_train,y_train)
# Predict
y_pred_xgb = xgb_classifier.predict(X_test)
# Score It
logreg_accuracy = round(accuracy_score(y_test, y_pred_xgb) * 100,2)
print('Accuracy', logreg_accuracy,'%')
print('roc_auc_score',roc_auc_score(y_test, y_pred_xgb))

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy 91.72 %
roc_auc_score 0.49956427015250543

In [ ]:
from sklearn.model_selection import GridSearchCV
#Grid searching on above algo
n_estimators = [5,10,15,20,25,50,75,100]
#max_depth = [2,3,5,7,9,15,20,25,50,100]
max_depth = [5,7,15,20]
#min_child_weight = [4,5,6,7,8]
min_child_weight = [4,5,6]

# Create parameter grid
#param_grid = {'n_neighbors ': [0.1,1, 10, 100, 1000]}
param_grid1 = {
    'n_estimators':n_estimators,
    'max_depth':max_depth
}
#print(param_grid)
# Import


# Instantiate grid object
grid = GridSearchCV(XGBClassifier(n_estimators=50,random_state=42,learning_rate=.1),param_grid1,scoring='roc_auc', refit = True, verbose = 1)#verbose is the text output describing the process

# Fit to training data
grid.fit(X_train,y_train.values.ravel())
print(grid.best_params_)
# Predict
y_pred_grid_xgb = grid.predict(X_test)
# Score It
logreg_accuracy = round(accuracy_score(y_test, y_pred_grid_xgb) * 100,2)
print('Accuracy', logreg_accuracy,'%')
print('roc_auc_score',roc_auc_score(y_test, y_pred_grid_xgb))

Fitting 3 folds for each of 32 candidates, totalling 96 fits

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.